img{
  height:12rem;
  width:12rem;
  padding: .25rem;
}

.price{
  font-style: normal;
  font-weight: 900;
  padding-top: .5rem;
}

.description{
  font-style: italic;
  max-width: 14rem;

}

h3{
  color: darkgreen;
  font-size: 2rem;
}

.item{
  width: 29%;
  display: block;
  text-align: center;
  align-content: center;
  margin: 1.5rem;
  float: left;
  
}

.item-container{
  width: 95%;
  display: block;
}